* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 199, 199);
}

header {
    width: 100%;
    height: 3.5em;
    position: fixed;
    z-index: 10;
}

.cabecalho{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-between; */
    /* gap: 4.5em; */
    /* padding-left: 10em; */
    
}

.header-img > img {
    width: 6em;
    /* height: 5em; */
    object-fit: contain;
}

.header-link {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5em;
    

    a {
    text-decoration: none;
    color: white;  
    }
}

.header-link > a:hover {
    text-shadow: 0px 0px 5px white;
}


.secao-topo {
    width: 100%;
    height: 120vh;
    position: relative;
    overflow-x: hidden;
}

.hero {
    width: 100%;
    height: 80vh;
    margin-left: .5em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    z-index: 6;
    position: absolute;
    font-size: 1.9vw;

}

.container-hero {
    width: 25em;
    height: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-empresa > img {
    width: 10em;
    height: 7em;
    z-index: 10;
    margin-bottom: -2em;
}

.hero> h2 {
    font-size: 2vw;
}

.topo-fundo {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(37, 37, 37), transparent);
    position: absolute;
    z-index: 5;
}

.topo-img {
    width: 100%;
    height: 120vh;
    background-image: url(img/Foto-Ar-condicionado-capa.png);
    background-position: 50% 25%;
    background-size: cover;
    filter: brightness(80%);
    z-index: 1;
}


.sobre {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: end;
    justify-content: space-around;
    position: relative;
    margin-top: -6em;
    z-index: 10;
}

.sobre-container {
    width: 26vw;
    height: 12.5vh;
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0px 4px 10px black;
    transition: 0.5s;

}

.sobre-container:hover {
    transform: scale(1.05);
}

.sobre-txt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4vw;
}

.sobre-img {
    width: 4em;
    height: 2em;
    display: flex;
    justify-content: center;
    
}

.section-imagens {
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    overflow-x: hidden;
}

.container-img {
    display: flex;
    gap: 2.5em;
    animation: fotos 37s linear infinite;
}

@keyframes fotos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * (17em * 7 + 2.5em * 6)));
    }
}

.container-img:hover {
    animation-play-state: paused;
}

.img-item {
    width: 17em;
    height: 17em;
    background-color: black;
    transition: 0.7s;
}

.img-item:hover {
    transform: scale(1.15);
}

.orcamento {
    width: 100%;
    height: 22em;
    padding: 4em;
    background-image: url(img/Tecnicos-fazendo-manutenção.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.orcamento, .orcamento-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orcamento-txt {
    background-color: rgba(128, 128, 128, 0.568);
    width: 27em;
    height: 12em;
    border-radius: 30px;
    border: 3px solid gray;
    text-align: center;
    line-height: 2em;
    font-size: 2vw;
    color: white;
    text-shadow: 0px 2px 7px black;

}

.servicos {
    width: 100%;
    height: 50vh;
    /* alterar para medidas fixas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.servicos-container {
    display: flex;
    margin: 0 2em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
}

.container-item {
    display: flex;
    gap: 5em;
}

.servicos-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicos-item > img {
    object-fit: cover;
    width: 10em;
    height: 5em;
    display: flex;
    align-items: center;
}

.local {
    width: 100%;
    height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(155, 155, 155, 0.541);
    font-size: 1.8vw;
    font-weight: 600;
}

.quem-somos {
    width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 4em 0;
}

.container-quem-somos {
    background-color: white;
    width: 90%;
    height: 100%;
    border-radius: 10px 100px 10px 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5em;
}

.quem-somos-img {
    width: 50%;
    height: 100%;
    background-image: url(img/segurando-manometros-de-perto_agem-DC-Studio-Freepika.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 10px 10px 0;
}

.quem-somos-txt {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 5em;
    padding: 0 2.5em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

footer {
    background-color: rgb(95, 95, 95);
    width: 100%;
    height: 15em;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    position: relative;
}

.logo > img{
    width: 10em;
    height: 7em;
    /* background-color: white; */
    border-radius: 50%;
    position: absolute;
}

.cartao {
    grid-column: 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.cartao-icones > img{
    width: 2em;
    height: 2em;
    object-fit: contain;
}

.btn-whatsapp {
    grid-column: 2 / 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.btn-whatsapp > a > img {
    width: 3em;
    height: 3em;
    background-color: white;
}

.copy {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.copy:first-child:after {
    border: 1px solid white;
}

.tecnico {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: end;
}

.tecnico > img{
    width: 8em;
    margin-right: 1em;
}
